/* ==================================================
For all screens	
=================================================== */
body {
	background-color:#0e70e7;
	background-image: url("https://i.imgur.com/bFvPjP8.png");
}

h1 {
	text-align: center;
	color: #f4dc24;
	font-size: 3em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 50px;
	text-shadow: 0 1px 0 #7c7514,
	             0 2px 0 #7a7c14,
	             0 3px 0 #7a7818,
	             0 4px 0 #808222,
	             0 5px 0 #959500,
	             0 6px 1px rgba(0,0,0,.1),
	             0 0 5px rgba(0,0,0,.1),
	             0 1px 3px rgba(0,0,0,.3),
	             0 3px 5px rgba(0,0,0,.2),
	             0 5px 10px rgba(0,0,0,.25),
	             0 10px 10px rgba(0,0,0,.2),
	             0 20px 20px rgba(0,0,0,.15);
}
h2 {
	color: #f4dc24;
	font-size: 2em;
}
h4 {
	color: #f4dc24;
}
#blerb {
	color: #f4dc24;
}

.tableText{
	color: #f4dc24;
}

.tableText1{
	color: #f4dc24;
	font-size: 1.5em;
}
/* ==================================================
For login.jsp
#last minute addition
#auto margin both sides to assure centering on a variety of screen sizes
=================================================== */
.armedGuard {
	margin-left: 47%;
}

.loginForm {
	background:rgba(22,22,165,0.5);
	width: 350px;
	height: 125px;
	margin-left: 500px;
	border-radius: 4px;
	border-style: ridge;
	padding: 20px;
}

.loginSubmit {
	margin-left:135px;
}

#logoutForm {
	margin-top: -100px;
	margin-left: 1025px;
}
#blerbDiv {
	margin-left:150px;	
	padding-left:50px;
}

#innerLoginForm {
	margin-left: 20px;
}

.text {
	color: #ffffff;
}

.centred {
	margin-left: 465px;
}

/* ==================================================
For index.jsp
=================================================== */
#blerbDiv {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.americasNextTopDiv {
	z-index: 10;
	position: absolute;
	right: 10px;
	top: 10pxS;
}
.inputFile {
	width:600px;
	border-radius: 10px;
	margin:75px 150px 25px 350px;
	border-style:ridge;
	border-color:#5151d7;
}
.inputFile .tableDetails {
	display : none;
}

.form {
	background:rgba(22,22,165,0.5);
	background-color:#1616a5;
	width: 400px;
	height: 50px;
	border-radius: 7px;
	border-style: ridge;
	padding: 20px;
}

.inputForFile1 {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputForFile1 + label {
    font-size: 1em;
    font-weight: 500;
    color: white;
    background-color: #356fce;
    display: inline-block;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    border-width: 3px;
    border-style: outset;
    border-color: #000080;
}

.inputForFile1:focus + label,
.inputForFile1 + label:hover {
    background-color: #283988;
    border-width: 3px;
    border-style: outset;
    border-color: #000080;
    display: inline-block;
}
.inputForFile1 + label {
	cursor: pointer; /* "hand" cursor */
}

.inputForFile1 + label * {
	pointer-events: none;
}

.inputForFile2 {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputForFile2 + label {
    font-size: 1em;
    font-weight: 500;
    color: white;
    background-color: #356fce;
    display: inline-block;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    border-width: 3px;
    border-style: outset;
    border-color: #000080;
}

.inputForFile2:focus + label,
.inputForFile2 + label:hover {
    background-color: #283988;
    border-width: 3px;
    border-style: outset;
    border-color: #000080;
    display: inline-block;
}
.inputForFile2 + label {
	cursor: pointer; /* "hand" cursor */
}

.inputForFile2 + label * {
	pointer-events: none;
}
.formSubmitButton {
  background: #3193d4;
  background-image: -webkit-linear-gradient(top, #3193d4, #2277ab);
  background-image: -moz-linear-gradient(top, #3193d4, #2277ab);
  background-image: -ms-linear-gradient(top, #3193d4, #2277ab);
  background-image: -o-linear-gradient(top, #3193d4, #2277ab);
  background-image: linear-gradient(to bottom, #3193d4, #2277ab);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
}

.formSubmitButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
/* ==================================================
For setAnonDetails.jsp
=================================================== */
#topHead {
	z-index: 10;
	position: absolute;
	right: 30px;
	top: 0px;	
}
.tooltipsAD {
    position: relative;
    display: inline-block;
    margin-left:200px;
    border-bottom: 1px dotted black;
}

.tooltipsAD .tooltiptext {
    visibility: hidden;
    width: 650px;
    background-color: #2c2ca0;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    padding: 5px 5px 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -325px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltipsAD .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #2c2ca0 transparent transparent transparent;
}

.tooltipsAD:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
#selectDetails {
	float:left;
	margin-left:300px;
	margin-bottom:20px; 
	max-width:1250px;
	height:300px;
	overflow:hidden;
}
#selectDetailsInner {
	overflow:auto;
	max-width:1248px;
	height:300px;
}
#dataHead {
	width:35px;
	border:1px solid #ddd;
	background-color: #e16830;
}
#dataBody {
	border:1px solid #d6aa44;
}
#detailOptionsContainer {
	float:left;
	margin-left: 100px;
	margina-top: 20px;
	padding:10px;
	border:3px solid;
	border-color:#d5ce66;
}

.hiddenSpan {
	display:none;
}
/* ==================================================
For needHierarchies.jsp
=================================================== */
#logoTop {
	z-index: 10;
	position: absolute;
	right: 30px;
	top: 0px;
}
#nHMessage {
	margin-left:50px;
}
#nHContainer {
	float:left;
	margin-left: 100px;
	padding:10px;
	border:3px solid;
	border-color:#d5ce66;
}

/* ==================================================
For compareSet.jsp
=================================================== */
#thSR {
	max-width:100px;
	border:1px solid #ddd;
	background-color: #35d733;
}
.cSDTH {
	max-width:100px;
	border:1px solid #ddd;
	background-color: #e16830;
	color:#d5ce66;
}
.cADTH {
	width:50px;
	border:1px solid #ddd;
	background-color: #35d733;
}

.tooltipcompSets {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltipcompSets .tooltiptext2 {
    visibility: hidden;
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    padding: 5px 5px 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -200px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltipcompSets .tooltiptext2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltipcompSets:hover .tooltiptext2 {
    visibility: visible;
    opacity: 1;
}

.tooltipcompSets .tooltiptext3 {
    visibility: hidden;
    width: 400px;
    background-color: #2c2ca0;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    padding: 5px 5px 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -200px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltipcompSets .tooltiptext3::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #2c2ca0 transparent transparent transparent;
}

.tooltipcompSets:hover .tooltiptext3 {
    visibility: visible;
    opacity: 1;
}


.button {
  background-color: ForestGreen;  
  border-radius: 5px;
  color: white;
  padding: .5em;
  text-decoration: none;
}

.button:focus,
.button:hover {
  background-color: DarkGreen;
}


/* ==================================================
For showRisks.jsp
=================================================== */
.sRTh {
	text-align:center;
	border:1px solid #f0f0f0;
	background-color: #3a99f8;
	width:100px;
}

.srTd {
	text-align:center;
	border:1px solid #d6aa44;
	background-color: #3d3db6;
	width:100px;
}

.buttonsR {
	  background: #3193d4;
	  background-image: -webkit-linear-gradient(top, #3193d4, #2277ab);
	  background-image: -moz-linear-gradient(top, #3193d4, #2277ab);
	  background-image: -ms-linear-gradient(top, #3193d4, #2277ab);
	  background-image: -o-linear-gradient(top, #3193d4, #2277ab);
	  background-image: linear-gradient(to bottom, #3193d4, #2277ab);
	  -webkit-border-radius: 6;
	  -moz-border-radius: 6;
	  border-radius: 6px;
	  font-family: Arial;
	  color: #ffffff;
	  font-size: 20px;
	  padding: 5px 5px 5px 5px;
	  text-decoration: none;
	}

.buttonsR:focus,
.buttonsR:hover {
	background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.buttonsR:disabled {
	  background: #7c9bba;
	  background-image: -webkit-linear-gradient(top, #b7c8d9, #b7c8d9);
	  background-image: -moz-linear-gradient(top, #b7c8d9, #b7c8d9);
	  background-image: -ms-linear-gradient(top, #b7c8d9, #b7c8d9);
	  background-image: -o-linear-gradient(top, #b7c8d9, #b7c8d9);
	  background-image: linear-gradient(to bottom, #b7c8d9, #b7c8d9);
	  -webkit-border-radius: 6;
	  -moz-border-radius: 6;
	  border-radius: 6px;
	  font-family: Arial;
	  color: #ffffff;
	  font-size: 20px;
	  padding: 5px 5px 5px 5px;
	  text-decoration: none;
	}
.tooltipsR {
    position: absolute;
    right:400px;
    border-bottom: 1px dotted black;
}

.tooltipsR .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #2c2ca0;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    padding: 5px 5px 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -200px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltipsR .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #2c2ca0 transparent transparent transparent;
}

.tooltipsR:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
#tablesR {
    border: 1px solid #ecec00;
     border-collapse: collapse;
}

#setRiskDetails {
	border-style:ridge;
	border-color:#000097;
	float:left;
	margin-left:100px;
	margin-top:50px;
	padding: 25px 25px 25px 25px;
	max-width:550px;
	overflow:visible;
}
#theRiskyDiv {
	float:center;
	margin-left: 450px;
	margin-right: 300px;
	max-width:1050px;
	padding: 15px 15px 15px 15px;
	overflow: scrollable;
}
#riskGraphDiv {
	width:1355px;
}
#riskInnerDivLeft {
	float:left;
	width:700px;
	overflow:hidden;
}
#riskInnerDivRight {
	 float:left;
	 width:600px;
	 overflow:hidden;
}

.riskTable {
	width:225px;
	height:275px;
	float:left;
	border-collapse: collapse;
}

.riskInnerDivItem {
	float:left;
	width:635px;
	height: 300px;
	overflow:hidden;
}

.riskInnerDivFreqTable {
	float:left;
	width:230px;
	height:300px;
	overflow:auto;
}

.cellsSR {
	border:solid 1px #eaea00;
	color: #eaea00;
}

/* ==================================================
For error.jsp
=================================================== */
#tableErr td {
	vertical-align:top;
	border-collapse:collapse;
	border:solid 1px #eaea00;
	padding:10px;
	background:rgba(22,22,165,0.5);
}

.form {
	background:rgba(22,22,165,0.5);
	width: 400px;
	height: 50px;
	border-radius: 7px;
	border-style: ridge;
	padding: 20px;
}